.bigcontainer
{
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 10% auto 10% auto 10% auto 10% ;
    /* height: 100vh; */
    margin: auto;
}

h2, p
{
    grid-column: 2;
}

h2
{
    text-align: center;
}
p
{
    text-align: justify;
}

.FAQ
{
    text-align: justify;
    grid-column: 2;
}