body
{
    /* Margin none to spread the content to ends of page */
    margin: none;
    font-family: "Comfortaa", cursive;
    height:100vh;
    overflow: hidden;
    background-color: #7f5a83;
    background-image: linear-gradient(to top, transparent, #BCD4E6),
    linear-gradient(to right, #FAD2E1 0%, #BCD4E6 74%, #FAD2E1 95%);
    background-size: 100% 100%, 1000% 100%;
    animation: move 9s infinite;
}

@keyframes move
{
    from
    {
        background-position: center left, left center;
    }
    to
    {
        background-position: center left, right center;
    }    
}

h1
{
    text-align: center;
}

nav
{
    display: grid;
    grid-template-columns: 33% auto 33%;
    border-radius: 100px;
    overflow:hidden;
}

nav a
{
    padding: 5%;
    float:left;
    color: black;
    /* Will need to change accordingly for responsive page */
    text-align:center;
    text-decoration: none;
}

nav a:hover
{
    transition-duration: 1000ms;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

/* BELOW CODE NEEDS JS */
/* nav a.active {
  background-color: #04aa6d;
  color: white;
} */

.bigcontainer
{
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 5% auto auto ;
    height: 100vh;
    margin: auto;
}

.contrib-table
{
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.contrib-table table
{
    table-layout: fixed;
    width: 100%;
    height: 60%;
    margin: auto;
    overflow: auto;
    text-align: center;
    caption-side: bottom;
    word-wrap: break-word;
}
/* Below CSS will be beneficial once links are added */
.contrib-table a
{
    text-decoration: none;
}